.sidebar-wrapper {
    .sidebar-menu {
        padding-bottom: 10px;

        .header-menu span {
            font-weight: bold;
            font-size: 14px;
            padding: 15px 20px 5px 20px;
            display: inline-block;
        }

        ul li a {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            text-decoration: none;
            position: relative;
            padding: 8px 30px 8px 20px;
            width: 100%;

            &:hover>i::before {
                display: inline-block;
                animation: swing ease-in-out .5s 1 alternate;
            }

            i {
                margin-right: 10px;
                font-size: 12px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                flex-shrink: 0;
            }

            .menu-text {
                flex-grow: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                flex-shrink: 1;
                overflow: hidden;
            }
        }

        ul li button {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            --blue: #007bff;
            --indigo: #6610f2;
            --purple: #6f42c1;
            --pink: #e83e8c;
            --red: #dc3545;
            --orange: #fd7e14;
            --yellow: #ffc107;
            --green: #28a745;
            --teal: #20c997;
            --cyan: #17a2b8;
            --white: #fff;
            --gray: #6c757d;
            --gray-dark: #343a40;
            --primary: #007bff;
            --secondary: #6c757d;
            --success: #28a745;
            --info: #17a2b8;
            --warning: #ffc107;
            --danger: #dc3545;
            --light: #f8f9fa;
            --dark: #343a40;
            --breakpoint-xs: 0;
            --breakpoint-sm: 576px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 992px;
            --breakpoint-xl: 1200px;
            --font-family-sans-serif: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji";
            --font-family-monospace: SFMono-Regular,
                Menlo,
                Monaco,
                Consolas,
                "Liberation Mono",
                "Courier New",
                monospace;
            font-weight: 400;
            line-height: 1.5;
            font-size: .9rem;
            font-family: "Nunito",
                sans-serif;
            -webkit-font-smoothing: antialiased;
            list-style-type: none;
            box-sizing: border-box;
            background-color: transparent;
            transition: color .3s ease;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            text-decoration: none;
            position: relative;
            padding: 8px 30px 8px 20px;
            width: 100%;
            color: #adadad;
            border: none;

            &:hover>i::before {
                display: inline-block;
                animation: swing ease-in-out .5s 1 alternate;
            }

            i {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                --blue: #007bff;
                --indigo: #6610f2;
                --purple: #6f42c1;
                --pink: #e83e8c;
                --red: #dc3545;
                --orange: #fd7e14;
                --yellow: #ffc107;
                --green: #28a745;
                --teal: #20c997;
                --cyan: #17a2b8;
                --white: #fff;
                --gray: #6c757d;
                --gray-dark: #343a40;
                --primary: #007bff;
                --secondary: #6c757d;
                --success: #28a745;
                --info: #17a2b8;
                --warning: #ffc107;
                --danger: #dc3545;
                --light: #f8f9fa;
                --dark: #343a40;
                --breakpoint-xs: 0;
                --breakpoint-sm: 576px;
                --breakpoint-md: 768px;
                --breakpoint-lg: 992px;
                --breakpoint-xl: 1200px;
                --font-family-sans-serif: -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    "Helvetica Neue",
                    Arial,
                    "Noto Sans",
                    sans-serif,
                    "Apple Color Emoji",
                    "Segoe UI Emoji",
                    "Segoe UI Symbol",
                    "Noto Color Emoji";
                --font-family-monospace: SFMono-Regular,
                    Menlo,
                    Monaco,
                    Consolas,
                    "Liberation Mono",
                    "Courier New",
                    monospace;
                font-weight: 400;
                font-family: "Nunito",
                    sans-serif;
                -webkit-font-smoothing: antialiased;
                list-style-type: none;
                color: #adadad;
                box-sizing: border-box;
                border-radius: 4px;
                margin-right: 10px;
                font-size: 12px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                flex-shrink: 0;
                background-color: #2b2b2b;
            }

            .menu-text {
                font-weight: 400;
                line-height: 1.5;
                font-size: .9rem;
                font-family: "Nunito",
                    sans-serif;
                -webkit-font-smoothing: antialiased;
                list-style-type: none;
                color: #adadad;
                box-sizing: border-box;
                flex-grow: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                flex-shrink: 1;
                overflow: hidden;
                text-align: left;
            }
        }

        .sidebar-dropdown {
            >a:after {
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                content: "\f105";
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-align: center;
                background: 0 0;
                position: absolute;
                right: 15px;
                top: 14px;
                transition: transform .3s ease;

            }

            .sidebar-submenu {
                display: none;

                ul {
                    padding: 5px 0;
                }

                li {
                    padding-left: 25px;
                    font-size: 13px;

                    a {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &:before {
                            content: "\f111";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 400;
                            font-style: normal;
                            display: inline-block;
                            text-align: center;
                            text-decoration: none;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            margin-right: 10px;
                            font-size: 8px;
                        }

                        .badge,
                        .label {
                            margin-left: auto;
                        }
                    }
                }
            }

            &.active>a:after {
                transform: rotate(90deg);
                right: 15px;
            }
        }

    }
}